* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #2980b9, #ffffff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #2980b9;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #1a5276;
}

ul {
  list-style-type: none;
}

li {
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
}

li button {
  background-color: #e74c3c;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

li button:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  .input-container {
    flex-direction: column;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
  }

  button,
  li .button,
  :hover {
    width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  input,
  button,
  li .button,
  :hover {
    font-size: 14px;
  }

  li {
    font-size: 14px;
  }
}
